---
---

@import 'jekyll-theme-cayman';

div.default-content {
  display: grid;
  grid-template-columns: 15% auto;
  background-color: $content-bg-color;
}

section.navigation {
  background-color: $nav-bg-color;
  text-align: center;
}

ul.navigation {
  margin: 1em 0;
  padding: 0;
  text-align: center;
}

li.navigation {
  display: block;
  padding: 0.3em 0;
  position: relative;

  &:hover {
    a {
      color: white;
      text-decoration: none;
    }
    display: block;
    background-color: $content-bg-color;
    color: white;
  }
}

a {
  &:hover {
    color: white;
    text-decoration: none;
  }
}

section.content {
  display: block;
  text-align: center;
  padding: 1em 1em 1em 1em;
}

h1.project-header {
    margin: 0 0.5em 0 0.2em;
}

span.project-header {
   margin: 0 1em 0 0.4em;
}

a.contact-item {
    margin: 0.5em;
}

i.contact-item {
    margin-right: 0.5em;
}

section.contact-item {
    display: flex;
    align-items: center;
    justify-self: right;
    padding-right: 5em;
}

.page-header {
    display: grid;
    color: $header-heading-color;
    background-color: $header-bg-color;
    grid-template-columns: 50% auto;
    padding: 1em;
}

.header-section {
    margin: 0;
}

ul.index-bio {
  display: inline-block;
  text-align: left;
}

li.index-bio {
  width: 15%;
}

.profile-image {
  height: 200px;
  width: 200px;
  border: 1px solid white;
  border-radius: 10px;
}

// Animations
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fade-in-up {
  -webkit-animation: fadeInUp 2s;
  animation: fadeInUp 2s;
}
