---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                {% include breadcrumbs.html path=page.path title=page.title %}
                <div class="post-title">
                    <h1>{{ page.title }}</h1>
                </div>
                <div class="post-list">
                    {% for post in site.posts %}
                        {% if post.project == null %}
                    <ul>
                        <li class="wow fadeIn post" data-wow-duration="1.5s">
                            <a class="post zoombtn" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                            <p class="post">{{ post.excerpt }}</p>
                            <ul class="entry-meta inline-list">
                                {% for tag in post.tags %}
                                    <li>
                                        <a href="{{ site.url }}/tags/#{{tag}}" class="tag">
                                            <span class="term">{{tag}}</span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                    <hr/>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </header>
    {% include scripts.html %}
    <script src="{{ site.url }}/assets/js/wow.min.js"></script>
    <script type="text/javascript">(new WOW).init();</script>
</body>
</html>
